@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
       url('/assets/fonts/satoshi/Satoshi-Variable.woff') format('woff'),
       url('/assets/fonts/satoshi/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
       url('/assets/fonts/satoshi/Satoshi-VariableItalic.woff') format('woff'),
       url('/assets/fonts/satoshi/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Caslon Doric Extended';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/caslon-doric/CaslonDoricExtended-Semibold-Trial.otf') format('opentype');
}

:root {
  --display-font: 'Satoshi', sans-serif;
  --body-font: 'Satoshi', sans-serif;
  --body-font-condensed: "DIN Next LT Pro Condensed", "DIN 2014 Cond", "DIN Next Condensed", "DIN Condensed", sans-serif;
  --icon-font: "Material Symbols Outlined";
}

:root {
  --body-font-weight: 400;
  --body-font-style: normal;

  --font-family-icon: "Material Icons";
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
} 
