@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');
@import url("https://cloud.typography.com/7264818/6341032/css/fonts.css");
@import url("https://use.typekit.net/hzz7acw.css");

:root {
  --display-font: "Sentinel SSm A", "Sentinel SSm B", "Times New Roman", serif;
  --body-font: "DIN Next LT Pro", "DIN 2014", "DIN Next", "DIN", sans-serif;
  --body-font-condensed: "DIN Next LT Pro Condensed", "DIN 2014 Cond", "DIN Next Condensed", "DIN Condensed", sans-serif;
  --icon-font: "Material Symbols Outlined";
}

:root {
  --body-font-weight: 400;
  --body-font-style: normal;

  --font-family-icon: "Material Icons";
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
} 
