/* Effects */
:root {
  --border-width: 2px;
  --border: var(--border-width) solid var(--color-base);
  --border-radius: 4px;

  --box-shadow-base: 2px 2px 8px hsla(217, 81%, 10%, 0.15);

  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 12px;

  --box-shadow-inset: inset hsla(217, 81%, 10%, 0.03) 0px 0px 4px 0px;

  --shadow-color: var(--hsl-black);

  --shadow-elevation-low:
    0.4px 0.5px 0.7px hsl(var(--shadow-color), 0.1),
    0.6px 0.9px 1.2px -1.3px hsl(var(--shadow-color), 0.09),
    1.3px 2px 2.6px -2.7px hsl(var(--shadow-color), 0.09);
  --shadow-elevation-medium:
    0.4px 0.5px 0.7px hsl(var(--shadow-color), 0.1),
    1.1px 1.7px 2.2px -0.9px hsl(var(--shadow-color), 0.1),
    2.7px 4.2px 5.5px -1.8px hsl(var(--shadow-color), 0.09),
    6.7px 10.2px 13.5px -2.7px hsl(var(--shadow-color), 0.09);
  --shadow-elevation-high:
    0.4px 0.5px 0.7px hsl(var(--shadow-color), 0.09),
    1.8px 2.7px 3.6px -0.4px hsl(var(--shadow-color), 0.09),
    3.3px 5px 6.6px -0.8px hsl(var(--shadow-color), 0.09),
    5.5px 8.3px 11px -1.1px hsl(var(--shadow-color), 0.09),
    8.9px 13.4px 17.7px -1.5px hsl(var(--shadow-color), 0.09),
    14px 21.1px 27.9px -1.9px hsl(var(--shadow-color), 0.09),
    21.3px 32.3px 42.7px -2.3px hsl(var(--shadow-color), 0.09),
    31.5px 47.7px 63px -2.7px hsl(var(--shadow-color), 0.08);
}

