/* Color Values (OKLCH) */
:root {
  --oklch-white: 1 0 0;
  --oklch-black: 0.10 0 0;
  --oklch-red: 0.62 0.19 29;
  --oklch-yellow: 0.98 0.18 99;
  --oklch-green: 0.80 0.14 161;
}

/* Solid Colors */
:root {
  --color-white: oklch(var(--oklch-white));
  --color-black: oklch(var(--oklch-black));

  --color-red: oklch(var(--oklch-red));
  --color-yellow: oklch(var(--oklch-yellow));
  --color-green: oklch(var(--oklch-green));
}
