/* Color Values */
:root {
  --hsl-white: 0, 0%, 100%;
  --hsl-black: 0, 0%, 5%;

  --hsl-red: 347, 58%, 46%;
  --hsl-yellow: 37, 98%, 53%;
  --hsl-green: 174, 62%, 47%;
}

/* Solid Colors */
:root {
  --color-white: hsl(var(--hsl-white));
  --color-black: hsl(var(--hsl-black));

  --color-red: hsl(var(--hsl-red));
  --color-yellow: hsl(var(--hsl-yellow));
  --color-green: hsl(var(--hsl-green));
}
