:root {
  --_input-font-size: var(--size-0);
  --_input-padding-block: calc(var(--space-3xs) + var(--_input-border-width));
  --_input-padding-inline: var(--space-2xs);
  --_input-border-width: 2px;
  --_input-border-style: solid;
  --_input-border-color: var(--color-base-tint-10);
  --_input-border-color-focus: var(--color-base-tint-40);
  --_input-background-color: var(--color-white);
  --_input-color: var(--color-base);
  --_input-border-radius: var(--border-radius-s);
  --_input-border-color-hover: var(--color-base-tint-40);
  --_input-border-color-invalid: var(--color-base-tint-40);
  --_input-font-weight: 400;
  --_input-font-family: var(--font-family);
  --_input-font-family: var(--font-family);
}