/* Semantic Color Tokens */

:root {
  --color-dark: var(--color-base);
  --color-light: var(--color-secondary);

  --color-text: var(--color-base);
  --color-link: var(--color-accent);

  --color-success: var(--color-green);
  --color-fail: var(--color-red);
  --color-warning: var(--color-yellow);
  --color-info: var(--color-primary);
}