:root {
  /* --system-padding-edge: var(--space-l); */

  @media (min-width: 960px) {
    /* --system-padding-edge: var(--space-3xl); */
  }
}

/* .tagline {
  padding-inline: var(--system-padding-edge);
  font-size: calc(var(--size-2) * 0.8);
  font-weight: 100;
  color: var(--color-primary-tint-70);
  text-wrap: balance;
  align-self: center;
  
  
  @media (min-width: 960px) {
    font-size: var(--size-2);
  }
} */





/* [class*="master-grid"] {
  display: grid;
  grid-template-columns: inherit;
  grid-auto-rows: minmax(150px, auto);
}

.master-grid-columns {
  grid-template-columns: [full-start] 45fr [wider-start] 28fr [wide-start] 45fr [normal-start] 73fr [narrow-start] 118fr [center-start] 191fr [center] 191fr [center-end] 118fr [narrow-end] 73fr [normal-end] 45fr [wide-end] 28fr [wider-end] 45fr [full-end];
}

.master-grid-rows {
  grid-template-rows: [full-start] 50fr [taller-start] 31fr [tall-start] 51fr [normal-start] 82fr [center] 82fr [normal-end] 51fr [tall-end] 31fr [taller-end] 50fr [full-end];
} */