.prose {

  --_prose-space: var(--space-m);

  * + * { margin-top: var(--_prose-space); }
  
  :is(h1, h2, h3, h4, h5, h6) {
    --_prose-space: var(--space-l); 
    line-height: 1.35;
  } 
}

.prose {
  hgroup {
    h4 ~ h1,
    h4 ~ h2,
    h4 ~ h3 { margin-top: 0; }

    h4:first-child {
      font-weight: 800;
      text-transform: uppercase;
      font-family: var(--body-font);
    }
  }

  h1, h2 {
    font-weight: 100;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-block-start: var(--space-l);
    margin-block-end: var(--space-m);
    position: relative;
  }

  h1 > a:hover,
  h2 > a:hover,
  h3 > a:hover,
  h4 > a:hover,
  h5 > a:hover,
  h6 > a:hover {
    text-decoration: none;

    &:before {
      content: 'link';
      position: absolute;
      top: .25em;
      left: -1.25em;
      transform: rotate(-45deg);
      font-family: var(--icon-font);
      font-size: 75%;
      color: var(--color-base-tint-10);
    }
  }

  

  hr {
    opacity: .2;
    margin-block: var(--space-xl);
    border-width: 1px 0 0 0;
  }

  li + li {
    margin-top: var(--space-3xs);
  }
}

.prose-layout {
  --_prose-padding-inline: 1rem;
  --_prose-max-width: 70ch;
}

blockquote {
  font-style: italic;
  border-left: 4px solid var(--color-base-tint-10);
  padding-left: var(--space-s);
  margin-left: 0;
  > * { font-size: 125%; }
}