.prose {
  --_prose-max-width: 60ch;
  --_prose-space: var(--space-m);

  * + * { margin-top: var(--_prose-space); }
  
  :is(h1, h2, h3, h4, h5, h6) {
    --_prose-space: var(--space-xl); 
    line-height: 1.35;
  } 
}

.prose {
  max-width: var(--_prose-max-width);
  margin-inline: auto;

  hgroup {
    h4 ~ h1,
    h4 ~ h2,
    h4 ~ h3 { margin-top: 0; }

    h4:first-child {
      font-weight: 800;
      text-transform: uppercase;
      font-family: var(--body-font);
    }
  }

  h1, h2 {
    font-weight: 100;
  }

  h3 a {
    font-weight: 500;
  }

  h2 { font-size: var(--size-1); }
  h3 { font-size: calc(var(--size-0) * 1.1); }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: var(--space-2xl);
    margin-bottom: var(--space-m);
    position: relative;
  }

  h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    transition: all 0.2s ease-in-out;

    &:before {
      opacity: 0;
      content: 'link';
      position: absolute;
      top: .25em;
      left: -1.25em;
      transform: rotate(-45deg);
      font-family: var(--icon-font);
      font-size: 75%;
      color: var(--color-base-tint-10);
      transition: opacity 0.2s ease-in-out;
    }
  }

  h2 {
    --_prose-space: var(--space-3xl);
  }

  h1 > a:hover,
  h2 > a:hover,
  h3 > a:hover,
  h4 > a:hover,
  h5 > a:hover,
  h6 > a:hover {
    text-decoration: none;

    &:before {
      opacity: 1;
    }
  }

  hr {
    opacity: .2;
    margin-block: var(--space-xl);
    border-width: 1px 0 0 0;
  }

  li + li {
    margin-top: var(--space-3xs);
  }

  a {
    color: var(--color-primary);

    &:hover {
      color: var(--color-primary-shade-90);
    }
  }
}

.prose-layout {
  --_prose-padding-inline: 1rem;
  --_prose-max-width: 70ch;
}

blockquote {
  --_blockquote-border-width: 4px;
  --_blockquote-left-indent: var(--space-xl);
  --_blockquote-border-color: var(--color-accent-tint-80);
  --_blockquote-vertical-space: var(--space-xl);
  font-style: italic;
  border-left: var(--_blockquote-border-width) solid var(--_blockquote-border-color);
  padding-left: var(--_blockquote-left-indent);
  margin-left: calc(var(--_blockquote-left-indent) * -1);
  color: var(--_blockquote-text-color);
  margin-block: var(--_blockquote-vertical-space) !important;
  
  :last-child { 
    
  }

  ul, li, cite {
    list-style: none;
    padding-left: 0;
    font-size: 85%; 
  }
}