:root {
  --_input-font-size: var(--size-0);
  --_input-padding-block: calc(var(--space-xs) + var(--_input-border-width));
  --_input-padding-inline: var(--space-m);
  --_input-border-width: 2px;
  --_input-border-style: solid;
  --_input-border-color: var(--color-base-tint-10);
  --_input-border-color-focus: var(--color-base-tint-40);
  --_input-background-color: var(--color-white);
  --_input-color: var(--color-base);
  --_input-border-radius: var(--border-radius-s);
  --_input-border-color-hover: var(--color-base-tint-40);
  --_input-border-color-invalid: var(--color-base-tint-40);
  --_input-font-weight: 400;
  --_input-font-family: var(--font-family);
  --_input-font-family: var(--font-family);
}



.form {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  /* Fallback: always show flex layout for field-group */
  field-group {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  /* Modern browsers: only apply when field-group has label */
  @supports selector(:has(*)) {
    field-group:not(:has(label)) {
      display: block;
    }
    field-group:has(label) {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }

  label {
    width: 100%;
    flex: 0 0 100px;
    text-align: right;
    padding-block-start: var(--_input-padding-block);
    padding-inline-end: var(--_input-padding-inline);
  }

  input,
  textarea {
    flex: 1;
  }

  textarea {
    min-height: 200px;
  }
}

.form input,
.form textarea {
  padding-block: var(--_input-padding-block);
  padding-inline: var(--_input-padding-inline);
  border-width: var(--_input-border-width);
  border-style: var(--_input-border-style);
  border-color: var(--_input-border-color);
  border-radius: var(--_input-border-radius);
  background-color: var(--_input-background-color);
  color: var(--_input-color);
  font-size: var(--_input-font-size, 100%);
  font-weight: var(--_input-font-weight, 400);
  font-family: var(--_input-font-family, var(--font-family));
  outline: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right var(--_input-padding-inline) center;
  background-size: 16px;
  transition: border-color 0.2s ease-in-out;
  &:focus {
    border-color: var(--_input-border-color-focus);
  }
  &:hover {
    border-color: var(--_input-border-color-hover);
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:user-invalid {
    border-color: var(--_input-border-color-invalid);
  }
}

.form-fieldset {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  align-items: center;

  input {
    flex: 0 1 100%;
    margin: 0;
  }

  input[type="text"],
  input[type="email"] {
    border-radius: var(--_input-border-radius) 0 0 var(--_input-border-radius);
  }

  input[type="submit"] {
    flex: 0 0 auto;
    border-radius: 0 var(--_input-border-radius) var(--_input-border-radius) 0;
    margin-left: calc(var(--_input-border-width) * -1);
  }
}