@layer typography {
  :root {
    font-family: var(--body-font);
    font-optical-sizing: auto;
    font-weight: var(--body-font-weight);
    font-style: var(--body-font-style);
    font-size: clamp(1rem, 0.3vw + 0.9rem, 1.5rem);
    line-height: 1.62;
    font-variant-numeric: lining-nums;
  }

  body {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: var(--display-font);
    margin-block: 0;
    font-variant-numeric: lining-nums;
  }

  h1,
  .h1 {
    font-size: 300%;
    line-height: 130%;
    font-weight: 900;
  }
  h2,
  .h2 {
    font-size: 250%;
    line-height: 130%;
    font-weight: 500;
  }
  h3,
  .h3 {
    font-size: 200%;
    line-height: 140%;
    font-weight: 500;
  }
  h4,
  .h4 {
    font-size: 160%;
    line-height: 150%;
    font-weight: 500;
  }
  h5,
  .h5 {
    font-size: 120%;
    line-height: 150%;
    font-weight: 500;
  }
  h6,
  .h6 {
    font-size: 100%;
    line-height: 1.62;
    font-weight: 500;
    text-transform: uppercase;
  }

  p, dl, li {
    font-size: 100%;
  }

  a:not([class]) {
    color: var(--color-accent);
    text-decoration: none;
  }

  a:not([class]):hover {
    text-decoration: underline;
  }

  ul:not([class]),
  ol:not([class]) {
    margin-top: 0;
    margin-bottom: var(--space-3xs);
    padding-left: var(--space-s);
  }

  li {
    margin-bottom: 0.5em;
  }

  blockquote {
    margin: 0;
    padding: 0 var(--space-s);
    color: var(--color-base);
    border-left: 0;
  }

  p,
  li,
  input,
  button,
  a {
    font-weight: 400;
  }

  strong {
    font-weight: 700;
  }
}