/* Color Values */
:root {
  --hsl-base: 217, 81%, 10%;
  --hsl-primary: 217, 81%, 10%;
  --hsl-secondary: 182, 43%, 76%;
  --hsl-accent: 54, 100%, 47%;
}

/* Solid Colors */
:root {
  --color-base: hsl(var(--hsl-base));
  --color-primary: hsl(var(--hsl-primary));
  --color-secondary: hsl(var(--hsl-secondary));
  --color-accent: hsl(var(--hsl-accent));
}

